<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Outlook2iCalGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Outlook2iCalGui.Properties.Settings>
            <setting name="FtpUrl" serializeAs="String">
                <value>ftp://www.kitsunet.org/sunookitsune.net/outlook.ics</value>
            </setting>
            <setting name="FtpUser" serializeAs="String">
                <value>sunookitsune</value>
            </setting>
            <setting name="FtpPass" serializeAs="String">
                <value>NOT4morons</value>
            </setting>
            <setting name="MailDomain" serializeAs="String">
                <value>@travelers.com</value>
            </setting>
            <setting name="IncludeClass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanSubjects" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Updated: </string>
                        <string>FW: </string>
                        <string>RE: </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DescriptionStart" serializeAs="String">
                <value>*~*~*~*~*~*~*~*~*~*</value>
            </setting>
            <setting name="DescriptionEnd" serializeAs="String">
                <value>-+-----+-----+-----+-----+-----+-----+-----+-----+-</value>
            </setting>
            <setting name="SkipCategories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Reminder</string>
                        <string>Vacation</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Outlook2iCalGui.Properties.Settings>
    </userSettings>
</configuration>